.contenedor-entradas{
  width: 80w;
  display: flex;
  margin: 1rem auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.entrada-blog{
  overflow: hidden;
  border: 1px solid #666;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin:  .5rem;
  box-shadow: 5px 5px 5px #333;
  margin-bottom: 1rem;
  width: 20%;
}
.entrada-blog button{
  padding: .75rem;
  background-color: #333;
  color: white;
  border-radius: .25rem;
  align-items: end;
  border: none;
  cursor: pointer;
}
.entrada-blog img{
  object-fit: cover;
  width: 100%;
  height: 200%;
  object-position: center;
}
.contenedor-principal{
  display: flex;
  justify-content: space-between;
}
form .grupo-formulario{
  width: 100%;
  display: flex;
  flex-direction: column;
}
form .grupo-formulario input{
  height: 1.75rem;
  border: 1px solid #acacac;
  border-radius: .5rem;
}